 <label for="">First Name:</label><input type="text" name="First_name" placeholder="First Name">
        <label for="">Father Name:</label><input type="text" name="Father_name" placeholder="Father Name">
        <label for="">Grand Father Name:</label><input type="text" name="Grandfather_name" placeholder="Grand Father Name">
        <label for="">Gender:</label><select name="Gender" id="">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <label for="">Marital Status:</label><select name="Marital_status" id="">
            <option value="Single">Single</option>
            <option value="Married">Married</option>
        </select>
        <label for="">Matriculation:</label><input type="number" name="Matriculation" placeholder="Matric Result">
        <label for="">Date Of Birth:</label><input type="date" name="Date Of Birth" placeholder="Birthday">
        <label for="">Age:</label><input type="number" name="Age" placeholder="Age">
        <label for="">Place Of Birth:</label><input type="text" name="Place_of_birth" placeholder="Place Of Birth">
        <label for="">Photo:</label><input type="file" name="Photo" placeholder="Photo">
        <label for="">Nationality:</label><input type="text" name="Nationality" placeholder="Nationality">
        <label for="">Region:</label><select name="Region" id="">
            <option value="Afar">Afar</option>
            <option value="Amhara">Amhara</option>
            <option value="Benshanigul_Gumuz">Benshanigul_Gumuz</option>
            <option value="Centeral Ethiopia">Centeral Ethiopia</option>
            <option value="Gambella">Gambella</option>
            <option value="Harari">Harari</option>
            <option value="Oromia">Oromia</option>
            <option value="Somali">Somali</option>
            <option value="Sidama">Sidama</option>
            <option value="South Ethiopia">South Ethiopia</option>
            <option value="Tigray">Tigray</option>
            <option value="Addis Ababa">Addis Ababa</option>
            <option value="Dire Dawa">Dire Dawa</option>
            <option value="South West Ethiopia">South West Ethiopia</option>
        </select>
        <label for="">Disability:</label><select name="Disability" id="">
            <option value="None">None</option>
            <option value="Visual">Visual</option>
            <option value="Hearing">Hearing</option>
            <option value="Physical">Physical</option>
            <option value="Other">Other</option>
        </select>
        <label for="">Email:</label><input type="email" name="Email" placeholder="Example@gmail.com">
        <label for="">Phone:</label><input type="tel" name="Phone" placeholder="Ex.09 00 00..">
        <label for="">Password:</label><input type="password" name="Password" placeholder="Password">
        <label for="">Password Confirmation:</label><input type="password" name="Password_confirmation" placeholder="Password Confirmation">